## Observations and Insights

## Dependencies and starter code

In [171]:
%matplotlib notebook
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata = "data/Mouse_metadata.csv"
study_results = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata)
study_results = pd.read_csv(study_results)

# Combine the data into a single dataset
mouse_data_complete = pd.merge(mouse_metadata, study_results, how="left", on=["Mouse ID"])
mouse_data_complete.head(30)
# mouse_metadata.describe()
# study_results.describe()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1
10,s185,Capomulin,Female,3,17,0,45.000000,0
11,s185,Capomulin,Female,3,17,5,43.878496,0
12,s185,Capomulin,Female,3,17,10,37.614948,0
13,s185,Capomulin,Female,3,17,15,38.177232,0
14,s185,Capomulin,Female,3,17,20,36.866876,0
15,s185,Capomulin,Female,3,17,25,33.949940,0
16,s185,Capomulin,Female,3,17,30,32.959671,1
17,s185,Capomulin,Female,3,17,35,28.328531,1
18,s185,Capomulin,Female,3,17,40,25.472143,1
19,s185,Capomulin,Female,3,17,45,23.343598,1
20,x401,Capomulin,Female,16,15,0,45.000000,0
21,x401,Capomulin,Female,16,15,5,45.473753,0
22,x401,Capomulin,Female,16,15,10,39.113891,0
23,x401,Capomulin,Female,16,15,15,39.776250,0
24,x401,Capomulin,Female,16,15,20,36.065835,0
25,x401,Capomulin,Female,16,15,25,36.617120,0
26,x401,Capomulin,Female,16,15,30,32.915292,0
27,x401,Capomulin,Female,16,15,35,30.206825,0
28,x401,Capomulin,Female,16,15,40,28.167397,0
29,x401,Capomulin,Female,16,15,45,28.484033,0

## Summary statistics

In [170]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
mouse_data_drug = mouse_data_complete.groupby(["Drug Regimen"])
mean_drug = pd.DataFrame(round(mouse_data_drug['Tumor Volume (mm3)'].mean(), 2)).rename(columns={"Tumor Volume (mm3)" : "Mean"})
median_drug = pd.DataFrame(round(mouse_data_drug['Tumor Volume (mm3)'].median(), 2)).rename(columns={"Tumor Volume (mm3)" : "Median"})
variance_drug = pd.DataFrame(round(mouse_data_drug['Tumor Volume (mm3)'].var(), 2)).rename(columns={"Tumor Volume (mm3)" : "Variance"})
std_drug = pd.DataFrame(round(mouse_data_drug['Tumor Volume (mm3)'].std(), 2)).rename(columns={"Tumor Volume (mm3)" : "Standard Deviation"})
sem_drug = pd.DataFrame(round(mouse_data_drug['Tumor Volume (mm3)'].sem(), 2)).rename(columns={"Tumor Volume (mm3)" : "SEM"})
data = [mean_drug, median_drug, variance_drug, std_drug, sem_drug]
df_merged = pd.concat(data, join='outer', axis=1)
df_merged

               Mean  Median  Variance  Standard Deviation   SEM
Drug Regimen
Capomulin     40.68   41.56     24.95                4.99  0.33
Ceftamin      52.59   51.78     39.29                6.27  0.47
Infubinol     52.88   51.82     43.13                6.57  0.49
Ketapril      55.24   53.70     68.55                8.28  0.60
Naftisol      54.33   52.51     66.17                8.13  0.60
Placebo       54.03   52.29     61.17                7.82  0.58
Propriva      52.32   50.85     42.35                6.51  0.51
Ramicane      40.22   40.67     23.49                4.85  0.32
Stelasyn      54.23   52.43     59.45                7.71  0.57
Zoniferol     53.24   51.82     48.53                6.97  0.52

## Bar plots

In [173]:
# Generate a bar plot showing number of data points for each treatment regimen using 
df_merged.plot(bar)

NameError: name 'bar' is not defined

In [4]:
# Generate a bar plot showing number of data points for each treatment regimen using pyplot

## Pie plots

In [5]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [6]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, outliers and boxplots

In [7]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.

In [8]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and scatter plots

In [9]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [10]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

In [11]:
# Calculate the correlation coefficient and linear regression model for mouse weight and average tumor volume for the Capomulin regimen